@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
.ArvoText,
.PTSansText {
	font-family: 'Roboto', sans-serif;
}

html, 
body, 
div, 
p, 
li, 
ul {
	font-family: 'Roboto', sans-serif;
	font-size: 1em; 
	color: #333;
	line-height: 1.618;
}

a, 
a:visited, 
a:active {
	color: #3344DD;
}
.main {
	padding-bottom:100px;
}

h1 {
	font-size: 2.25em; /* 36px */
	color: #fff;
}

h2 {
    font-size: 1.5em; /* 24px */
    color: #00274C;
}

h3 {
    font-size: 1.125em; /* 18px */
    color: #40658F;
}

.graytext {
	color:#888;
}

.navbar {
	margin:0;
}
.header {
	background-color:#00274c;
	color:#fff;
}

.graybackground {
	background-color:#ebebeb;
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}

#viewImportantInfo {
	font-size:1.2em;
	border: thin solid #E0E0E0;
}



.blackborder {
	border:1px solid #000;
}


.yellow-background {
  background-color:#ffcb05;
} 

.btn-collapse:before {
    font-family:'FontAwesome';
    content: '\f078';
	float: right;
	color: #666;
	padding-top: 2px;
	padding-left: 6px;
}
.btn-collapse.collapsed:before {
	content: '\f054';
}

.sr-only.sr-only-focusable:active,
.sr-only.sr-only-focusable:focus {
	position: fixed !important;
	overflow: visible;
	clip: auto;
	width: auto;
	height: auto;
	display: inline;
	background: #fff;
	color: #0d57aa;
	padding: 1em;
	float: left;
	z-index: 9999;
	margin: 1em;
	border-radius: 10px;
}